<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/ControlPanelCSS.css" type="text/css">
</head>
<body>
<div ng-controller="ControlPanelController" class="controlPanel">
    <table class="controlTable">
        <tr>
            <td>
                <button ng-click="showClientsPanel()">Klienci</button>
            </td>
            <td>
                <button ng-click="showProductsPanel()">Produkty</button>
            </td>
            <td>
                <button ng-click="showOrdersPanel()">Zamówienia</button>
            </td>
            <td>
                <button ng-click="showSupplierPanel()">Dostawcy</button>
            </td>
        </tr>
    </table>
    <div ng-include="'html/clients.html'" ng-show="activePanel == clientViewName"></div>
    <div ng-include="'html/products.html'" ng-show="activePanel == productsViewName"></div>
    <div ng-include="'html/orders.html'" ng-show="activePanel == ordersViewName"></div>
    <div ng-include="'html/suppliers.html'" ng-show="activePanel == suppliersViewName"></div>
</div>
</body>
</html>